*{
    box-sizing: border-box !important;
}
body{
    margin:0;
}
.container{
    display:flex;
    flex-wrap: wrap;
    height:100vh;
}
.container>div{
    flex-basis:calc(100% / 8);
}
.container>div:nth-child(even){
    background-color: rgb(89, 64, 199);
    color:white;
    bordeR:solid;
}
.container>div:nth-child(odd){
    background-color: darkcyan;
    color:white;
    border:solid;
}